#jspsych-content {
    padding: 2.5%;
    max-width: 40em;
}

.jspsych-btn {
    font-size: 18px;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding:10px 40px 10px 40px;
    background-color: #538FE9;
    color: #F6F7F8;
}
.jspsych-btn:hover {
    background-color: #4084ea;
}

.jspsych-display-element {
    font-size: 22px !important;
    background-color: #F6F7F8;
}