<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="errors" class="hidden"></div>
        <div id="loading">Loading...</div>
        <div id="registration-form" class="hidden">
            <form novalidate>
                <div class="row">
                    <div class="left"><img src="https://d3vowlh1lzbs4j.cloudfront.net/ui/reg-screen.jpg"/></div>
                    <div class="right">
                        <div class="column extended-col">
                            <p class="header">Welcome to the CALM study!</p>
                            <p>Let's create your account:</p>
                        </div>
                        <div class="column">
                            <input type="hidden" name="rcid" id="rcid" value=""/>
                            <input type="text" tabindex="1" name="firstName" id="firstName" value="" placeholder="First Name"/> <br/>
                            <select tabindex="3" id="sex" required>
                                <option value="">What sex were you assigned at birth?</option>
                                <option value="female">Female</option>
                                <option value="intersex">Intersex</option>
                                <option value="male">Male</option>
                            </select><br/>
                            <span class="error hidden" id="sexErr"></span>
                            <input tabindex="5" type="email" name="email" id="email" value="" required placeholder="Email"/>
                            <span class="error hidden" id="emailErr"></span>
                            <input tabindex="7" type="password" name="password" id="password" minlength="12" placeholder="Password (minimum 12 characters)" required value="" /> <br/>
                        </div>
                        <div class="column">
                            <input type="text" tabindex="2" name="family_name" id="lastName" value="" placeholder="Last Name"/> <br/>
                            <select tabindex="4" id="race" required>
                                <option value="">Which race do you identify more with?</option>
                                <option value="black">Black</option>
                                <option value="white">White</option>
                            </select> <br/>
                            <span class="error hidden" id="raceErr"></span>
                            <input tabindex="6" type="text" name="phone" id="phone" minlength="10" pattern="[\-0-9 \)\(]+" required placeholder="Phone, with area code" value="" /><span class="advisory">A validation code will be sent</span><br/>
                            <span class="error hidden" id="phoneErr"></span>
                            
                            
                            <input tabindex="8" type="password" name="passwordConfirm" id="passwordConfirm" minlength="12" placeholder="Confirm Password" required value="" /> <br/>
                            <span class="error hidden" id="passwordConfirmErr"></span>
                        </div>
                        <div class="column extended-col">
                            <input tabindex="9" type="checkbox" id="msgConsent" name="msgConsent" required />
                            <label for="msgConsent" class="small">As part of participating in this study I agree to receive text messages to remind me of study activities.</label><br/>
                            <span class="error hidden"></span>
                        </div>
                        <div class="column extended-col">
                            <button tabindex="10" id="submit-button" type="submit">SIGN UP</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-body">
            <div id="phoneVerificationError" class="error hidden"></div>

            <div id="phoneVerification" class="hidden">
                <p>We have sent a code to your phone.</p>
                Please enter it here:
                <input id="phoneVerificationCode" type="text" />
                <button id="submitPhoneVerification">Submit</button>
                <p></p>
                <span class="small">Didn't receive a code? <a href="" id="resendPhoneCodeNormal">Resend it</a></span> 
            </div>
        </div>
        <div id="researcher-confirmation" class="hidden">
            <h3>Please ask the researcher to confirm this registration.</h3>
            Name: <span id="name-confirm"></span><br/>
            Email: <span id="email-confirm"></span><br/>
            Phone: <span id="phone-confirm"></span><br/>
            <input id="researcherVerification" type="password" />
            <button id="editRegInfo">Edit Registration Information</button>
            <button id="submitResearcherVerification" disabled>Submit</button>
        </div>
    </body>
</html>