body {
    font-size: 20px !important;
    background-color: #F6F7F8;
    justify-content: center;
    font-family: Arial;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

input:not(input[type="checkbox"], input[type="radio"]), select {
    margin-bottom: 7px;
    border-radius: 22px;
    height: 25px;
    padding: 3px 10px;
    background-color: white;
    min-width: 200px;
}

select {
    width: 228px;
}

p * {
    display: block;
}

.advisory {
    display: inline-block;
    font-size: 60%;
    color: rgb(83, 80, 80);
}

.column {
    flex: 0 0 50%;
    align-self: flex-start;
}

.extended-col {
    flex: 100%;
}

.form-label {
    font-size: 14px;
    margin-left: 10px;
}

.header {
    width: 350px;
    color: rgb(125, 184, 236);
    font-size: 40px;
    text-align: center;
    margin-top: 28px;
    flex: 100%;
}

.hidden {
    display: none;
}

.left {
    flex: 0 0 37%;
}

.right {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 0 0 calc(63% - 25px);
    margin-left: 25px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.small {
    font-size: 70%;
    color: rgb(66, 65, 65);
}

.task-statement {
    margin: 12px 0px 12px 0px;
}

.error {
    width: 100%;
    padding: 2px 0px 2px 0px;
    font-size: 60%;
    color: darkred;
    background-color: lightpink;
    margin-bottom: 2px;
}

#errors {
    color: red;
    font-size: 125%;
    margin: auto;
    width: 30%;
}

#content {
    max-width: 600px;
}

#registration-form {
    width: 960px;
    height: 580px;
    border-radius: 5%;
    box-shadow: 15px 8px 8px rgb(209, 207, 207);
    background-color: white;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 20%;
    translate: 40%;
}

#researcher-confirmation {
    top: 30%;
    position: absolute;
    margin: 0
}

#submit-button {
    font-weight: bold;
    font-size: 18px;
    font-variant-caps: all-small-caps;
    transform: translate(1px, 20px);
    border: none;
    border-radius: 12px;
    padding:10px 40px 10px 40px;
    background-color: #538FE9;
    color: white;
}

#submit-button:hover {
    background-color: #4084ea;
}
