
{{#each users}}
<tr data-user-id="{{this.userId}}" {{#if this.inactive}}data-inactive="true" class="hidden"{{/if}}>
    <td><div class="username">{{this.name}}</div></td>
    <td class="stage">{{this.stage}}</td>
    <td class="stage-start">{{this.stageStarted}}</td>
    <td><span class="breath-status">Loading...</span></td>
    <td><span class="lumos-status">Loading...</span></td>
</tr>

{{/each}}